[Unit]
Description=Authentik Database
Requires=authentik-redis.service
After=network-online.target

[Container]
Pod=authentik.pod
ContainerName=authentik-db
Image=docker.io/library/postgres:16-alpine
AutoUpdate=registry
EnvironmentFile=%h/apps/authentik/authentik.env

Environment=POSTGRES_PASSWORD=${AUTHENTIK_PG_PASS}
Environment=POSTGRES_USER=${AUTHENTIK_POSTGRES_USER}
Environment=POSTGRES_DB=${AUTHENTIK_POSTGRES_DB}

Volume=/etc/localtime:/etc/localtime:ro

HealthCmd=pg_isready --dbname='${POSTGRES_DB}' --username='${POSTGRES_USER}' || exit 1; Chksum="$$(psql --dbname='${POSTGRES_DB}' --username='${POSTGRES_USER}' --tuples-only --no-align --command='SELECT COALESCE(SUM(checksum_failures), 0) FROM pg_stat_database')"; echo "checksum failure count is $$Chksum"; [ "$$Chksum" = '0' ] || exit 1
HealthStartPeriod=30s
HealthInterval=30s
HealthTimeout=5s
HealthRetries=5
Notify=healthy

Volume=%h/apps/authentik/db:/var/lib/postgresql/data:z

Timezone=Europe/Prague

[Service]
EnvironmentFile=%h/apps/authentik/authentik.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
