[Unit]
Description=Backrest
After=network.target

[Container]
ContainerName=backrest
Image=docker.io/garethgeorge/backrest:latest
AutoUpdate=registry

Network=podman
IP=10.88.0.24
HostName=backrest
PublishPort=9898:9898
Volume=%h/apps/backrest/data:/data:z
Volume=%h/apps/backrest/config:/config:z
Volume=%h/apps/backrest/cache:/cache:z

Environment=BACKREST_DATA=/data
Environment=BACKREST_CONFIG=/config/config.json
Environment=XDG_CACHE_HOME=/cache

Timezone=Europe/Prague

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
