[Unit]
Description=Automate Movies
After=local-fs.target

[Container]
ContainerName=bazarr
Image=lscr.io/linuxserver/bazarr:latest
EnvironmentFile=%h/apps/bazarr/bazarr.env

Environment=PUID=0
Environment=PGID=0
Environment=TZ=Europe/Prague

Volume=%h/apps/bazarr:/config:Z
Volume=/var/mnt/media/Filmy:/data/movies:z
Volume=/var/mnt/media/Serialy:/data/Serialy:z
Volume=/var/mnt/media/Vecernicky:/data/Vecernicky:z

Network=podman
IP=10.88.0.26

PublishPort=6767:6767

Label=homepage.group=Media
Label=homepage.name=Bazarr
Label=homepage.icon=bazarr.png
Label=homepage.href=http://192.168.60.139:6767
Label=homepage.description="Subtitle management"
Label=homepage.statusStyle=dot
Label=homepage.widget.type=bazarr
Label=homepage.widget.url=http://192.168.60.139:6767
Label=homepage.widget.key=${BAZARR_API_KEY}
Label=homepage.showStats=false

[Service]
Restart=always
EnvironmentFile=%h/apps/bazarr/bazarr.env

[Install]
WantedBy=default.target
