[Unit]
Description=Check for corrupted files
After=local-fs.target

[Container]
ContainerName=Checkrr
Image=docker.io/aetaric/checkrr:latest

Environment=PUID=0
Environment=PGID=0
Environment=TZ=Europe/Prague

Volume=%h/apps/checkrr/checkrr.yaml:/etc/checkrr.yaml:Z
Volume=%h/apps/checkrr/checkrr.db:/checkrr.db:z
Volume=/var/mnt/media/Filmy:/media/Movies:z
Volume=/var/mnt/media/Serialy:/media/Serialy:Z
Volume=/var/mnt/media/Vecernicky:/media/Vecernicky:Z

Network=podman
IP=10.88.0.150

PublishPort=8585:8585

Label=homepage.group=Media
Label=homepage.name=Checkrr
Label=homepage.icon=sh-checkrr-light
Label=homepage.href=http://192.168.60.139:8585
Label=homepage.description="Check for files corruption"
Label=homepage.statusStyle=dot
Label=homepage.weight=1
Label=homepage.showStats=false

[Service]
Restart=always
EnvironmentFile=%h/apps/radarr/radarr.env

[Install]
WantedBy=default.target
