[Unit]
Description=ConvertX

[Container]
ContainerName=convertx
Image=docker.io/c4illin/convertx
AutoUpdate=registry

PublishPort=3007:3000

Network=podman
IP=10.88.0.57

Timezone=Europe/Prague

Environment=JWT_SECRET=aLongAndSecretStringUsedToSignTheJSONWebToken1234
Environment=HTTP_ALLOWED=true
Environment=ALLOW_UNAUTHENTICATED=true

Volume=%h/apps/convertx/data/:/app/data:Z

Label=homepage.group=Services
Label=homepage.name=ConvertX
Label=homepage.icon=sh-convertx
Label=homepage.href=http://192.168.60.139:3007
Label=homepage.description="File Convertor"
Label=homepage.statusStyle=dot
Label=homepage.weight=1
Label=homepage.showStats=false

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
