[Unit]
Description=Dozzle
After=local-fs.target
Requires=podman.socket
After=podman.socket

[Container]
ContainerName=Dozzle
Image=docker.io/amir20/dozzle:latest
AutoUpdate=registry
Timezone=Europe/Prague

Network=podman
IP=10.88.0.33
PublishPort=8181:8080

Volume=%t/podman/podman.sock:/var/run/docker.sock:ro
#Volume=/run/user/1000/podman/podman.sock:/var/run/docker.sock:Z
SecurityLabelDisable=true
#PodmanArgs=--privileged

#Environment=DOZZLE_LEVEL=debug
#Environment=DOZZLE_FILTER=name=dozzle
#Environment=DOZZLE_NO_ANALYTICS=1
#Environment=DOZZLE_HOSTNAME=localhost

Label=homepage.group=System
Label=homepage.name=Dozzle
Label=homepage.icon=sh-dozzle-light
Label=homepage.href=http://192.168.60.139:8181
Label=homepage.description="Docker Watcher"
Label=homepage.statusStyle=dot
Label=homepage.weight=1
Label=homepage.showStats=false

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
