[Unit]
Description=Glance
After=network-online.target

[Container]
ContainerName=glance
Image=docker.io/glanceapp/glance
PublishPort=8955:8080
Volume=%h/apps/glance/glance.yml:/app/config/glance.yml:z
AutoUpdate=registry
Network=podman
IP=10.88.0.13

Timezone=Europe/Prague

Volume=/run/user/1000/podman/podman.sock:/var/run/docker.sock:ro
SecurityLabelDisable=true

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
