[Unit]
Description=Glance

[Container]
ContainerName=glance
Image=docker.io/glanceapp/glance
PublishPort=8955:8080
Volume=%h/apps/glance/glance.yml:/app/config/glance.yml:z
AutoUpdate=registry
Network=podman
IP=10.88.0.13

Timezone=Europe/Prague

#Volume=/run/user/1000/podman/podman.sock:/var/run/docker.sock:ro
Volume=/%t/podman/podman.sock:/var/run/docker.sock:ro
SecurityLabelDisable=true


Label=homepage.group=Services
Label=homepage.name=Glance
Label=homepage.icon=sh-glance-light
Label=homepage.href=http://192.168.60.139:8955
Label=homepage.description="Glance on the Web"
Label=homepage.statusStyle=dot
Label=homepage.weight=1
Label=homepage.showStats=false

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
