[Unit]
Description=Hoarder Browser
Requires=hoarder-web.service
After=network-online.target

[Container]
Pod=hoarder.pod
ContainerName=hoarder-chrome
Image=gcr.io/zenika-hub/alpine-chrome:123
AutoUpdate=registry

Exec=chrome --no-sandbox --disable-gpu --disable-dev-shm-usage --remote-debugging-address=0.0.0.0 --remote-debugging-port=9222 --hide-scrollbars

Timezone=Europe/Prague

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
