[Unit]
Description=hoarder
After=network-online.target

[Container]
Pod=hoarder.pod
ContainerName=hoarder-web
Image=ghcr.io/hoarder-app/hoarder:release
AutoUpdate=registry

EnvironmentFile=%h/apps/hoarder/hoarder.env

Volume=hoarder-data:/data

Environment=MEILI_ADDR=http://0.0.0.0:7700
Environment=BROWSER_WEB_URL=http://0.0.0.0:9222
Environment=DATA_DIR=/data

Timezone=Europe/Prague

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
