[Unit]
Description=HomeBox
After=network-online.target

[Container]
ContainerName=homebox
Image=ghcr.io/sysadminsmedia/homebox:latest
AutoUpdate=registry

PublishPort=3100:7745
Volume=%h/apps/homebox:/data:Z

Network=podman
IP=10.88.0.20

Timezone=Europe/Prague

Environment=HBOX_LOG_LEVEL=info
Environment=HBOX_LOG_FORMAT=text
Environment=HBOX_WEB_MAX_UPLOAD_SIZE=10

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
