[Unit]
Description=HomeHub

[Container]
ContainerName=homehub
Image=ghcr.io/surajverma/homehub:latest
AutoUpdate=registry

Network=podman
IP=10.88.0.224
HostName=homeghub
PublishPort=9999:5000
Volume=%h/apps/homehub/uploads:/app/uploads:z
Volume=%h/apps/homehub/media:/app/media:z
Volume=%h/apps/homehub/pdfs:/app/pdfs:z
Volume=%h/apps/homehub/data:/app/data:z
Volume=%h/apps/homehub/config.yml:/app/config.yml:z

Environment=FLASK_ENV=production
Environment=SECRET_KEY=fg2e2rgfew3b1g31b31be
Environment=TZ=Europe/Prague

Timezone=Europe/Prague

Label=homepage.group=Services
Label=homepage.name=HomeHub
Label=homepage.icon=sh-google-home-light
Label=homepage.href=http://192.168.60.139:9999
Label=homepage.description="Home Dashboard"
Label=homepage.statusStyle=dot
Label=homepage.weight=1
Label=homepage.showStats=false

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
