[Unit]
Description=Imagor Studio

[Container]
ContainerName=imagor
Image=docker.io/shumc/imagor-studio
AutoUpdate=registry

Network=podman
IP=10.88.0.124
HostName=imagor
PublishPort=9899:8000
Volume=%h/apps/imagor/data:/app/data:z
Volume=%h/Pictures/Library/library/admin:/app/gallery:z

Environment=DATABASE_URL="sqlite:///app/data/imagor-studio.db"
Environment=TZ=Europe/Prague

Label=homepage.group=Media
Label=homepage.name="Imagor Studio"
Label=homepage.icon=sh-picpeak-light
Label=homepage.href=http://192.168.60.139:9899
Label=homepage.description="Foto Editing"
Label=homepage.statusStyle=dot
Label=homepage.weight=1
Label=homepage.showStats=false

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
