[Unit]
Description=Immich server
Requires=immich-valkey.service immich-database.service

[Container]
Pod=immich.pod
ContainerName=immich-server
Image=ghcr.io/immich-app/immich-server:release
EnvironmentFile=%h/apps/immich/immich.env
#AutoUpdate=registry

Volume=${UPLOAD_LOCATION}:/usr/src/app/upload:z
Volume=/etc/localtime:/etc/localtime:ro

Timezone=Europe/Prague

Volume=/run/user/1000/podman/podman.sock:/var/run/docker.sock:ro
SecurityLabelDisable=true

Label=glance.name=Immich
Label=glance.icon=si:immich
Label=glance.url=http://192.168.60.139:2283
Label=glance.description=Image & video management
Label=glance.id=immich

Label=homepage.group="Media"
Label=homepage.name=Immich
Label=homepage.icon=immich.png
Label=homepage.href=http://192.168.60.139:2283
Label=homepage.description="Home Photo Album"
Label=homepage.statusStyle=dot
Label=homepage.widget.type=immich
Label=homepage.widget.url=http://192.168.60.139:2283
Label=homepage.widget.key=${IMMICH_API_KEY}
Label=homepage.widget.version=2
#Label=homepage.widget.fields=["photos", "videos", "storage"]
Label=homepage.showStats=false

[Service]
EnvironmentFile=%h/apps/immich/immich.env
ExecStartPre=sleep 15
Restart=always

[Install]
WantedBy=multi-user.target default.target
