[Unit]
Description=Immich Database
Requires=immich-valkey.service

[Container]
Pod=immich.pod
ContainerName=immich-database
Image=ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23

AutoUpdate=registry
EnvironmentFile=%h/apps/immich/immich.env

Environment=POSTGRES_PASSWORD=${IMMICH_DB_PASSWORD}
Environment=POSTGRES_USER=${IMMICH_DB_USERNAME}
Environment=POSTGRES_DB=${DB_DATABASE_NAME}
Environment=POSTGRES_INITDB_ARGS='--data-checksums'

Volume=/etc/localtime:/etc/localtime:ro
Volume=${DB_DATA_LOCATION}:/var/lib/postgresql/data:z
ShmSize=128m

Timezone=Europe/Prague

Volume=/run/user/1000/podman/podman.sock:/var/run/docker.sock:ro
SecurityLabelDisable=true

Label=glance.parent=immich
Label=glance.name=DB

[Service]
EnvironmentFile=%h/apps/immich/immich.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
