[Unit]
Description=Immich Redis

[Container]
Pod=immich.pod
ContainerName=immich-redis
Image=docker.io/valkey/valkey:8-bookworm@sha256:42cba146593a5ea9a622002c1b7cba5da7be248650cbb64ecb9c6c33d29794b1
AutoUpdate=registry

HealthCmd=["/usr/local/bin/redis-cli", "ping"]
HealthStartPeriod=30s
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5
Notify=healthy

Volume=%h/apps/immich/redis:/data:Z

Timezone=Europe/Prague

Volume=/run/user/1000/podman/podman.sock:/var/run/docker.sock:ro
SecurityLabelDisable=true

Label=glance.parent=immich
Label=glance.name=Redis

[Service]
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
