[Unit]
Description=Immich Database
Requires=immich-redis.service

[Container]
Pod=immich.pod
ContainerName=immich-database
Image=docker.io/tensorchord/pgvecto-rs:pg14-v0.2.0@sha256:739cdd626151ff1f796dc95a6591b55a714f341c737e27f045019ceabf8e8c52
Exec=postgres -c shared_preload_libraries=vectors.so -c 'search_path="$$user", public, vectors' -c logging_collector=on -c max_wal_size=2GB -c shared_buffers=512MB -c wal_compression=on
AutoUpdate=registry
EnvironmentFile=%h/apps/immich/immich.env

Exec=-c shared_preload_libraries=vectors.so -c 'search_path="$$user", public, vectors' -c logging_collector=on -c max_wal_size=2GB -c shared_buffers=512MB -c wal_compression=on

Environment=POSTGRES_PASSWORD: ${IMMICH_DB_PASSWORD}
Environment=POSTGRES_USER: ${IMMICH_DB_USERNAME}
Environment=POSTGRES_DB: ${DB_DATABASE_NAME}
Environment=POSTGRES_INITDB_ARGS: '--data-checksums'

Volume=/etc/localtime:/etc/localtime:ro

HealthCmd=pg_isready --dbname='${DB_DATABASE_NAME}' --username='${DB_USERNAME}' || exit 1; Chksum="$$(psql --dbname='${DB_DATABASE_NAME}' --username='${DB_USERNAME}' --tuples-only --no-align --command='SELECT COALESCE(SUM(checksum_failures), 0) FROM pg_stat_database')"; echo "checksum failure count is $$Chksum"; [ "$$Chksum" = '0' ] || exit 1
HealthStartPeriod=5m
HealthInterval=30s
HealthTimeout=5s
HealthRetries=5
Notify=healthy

Volume=${DB_DATA_LOCATION}:/var/lib/postgresql/data:z

Timezone=Europe/Prague

Volume=/run/user/1000/podman/podman.sock:/var/run/docker.sock:ro
SecurityLabelDisable=true

Label=glance.parent=immich
Label=glance.name=DB

[Service]
EnvironmentFile=%h/apps/immich/immich.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
