[Unit]
Description=IT-tools
After=local-fs.target
Requires=podman.socket
After=podman.socket

[Container]
ContainerName=ittools
Image=ghcr.io/corentinth/it-tools:latest
AutoUpdate=registry
Timezone=Europe/Prague

Network=podman
IP=10.88.0.42
PublishPort=8282:80

Label=homepage.group=Services
Label=homepage.name=IT-Tools
Label=homepage.icon=sh-it-tools-light
Label=homepage.href=http://192.168.60.139:8282
Label=homepage.description="IT Tools"
Label=homepage.statusStyle=dot
Label=homepage.weight=1
Label=homepage.showStats=false

[Service]
Restart=on-failure
TimeoutStartSec=900

[Install]
WantedBy=default.target
