[Unit]
Description=Jdownloader

[Container]
ContainerName=jdownloader
Image=docker.io/antlafarge/jdownloader:latest
AutoUpdate=registry
EnvironmentFile=%h/apps/jdownloader-headless/jdownloader.env

Network=podman
IP=10.88.0.82
#HostName=jdownloader
#PublishPort=5800:3129

Environment=PUID=0
Environment=PGID=0

Timezone=Europe/Prague

Volume=%h/apps/jdownloader-headless/config:/jdownloader/cfg/:Z
Volume=/var/mnt/media/Temporary/Downloads:/jdownloader/downloads/:Z
Volume=%h/apps/jdownloader-headless/logs:/jdownloader/logs/:Z

Environment=JD_EMAIL=${JDOWN_MAIL}
Environment=JD_PASSWORD=${JDOWN_PASS}
Environment=JD_DEVICENAME=${JDOWN_DEVNAME}
Environment=RESTART=on-failure

Label=homepage.group=Media
Label=homepage.name=Jdownloader
Label=homepage.icon=jdownloader.png
Label=homepage.href=https://my.jdownloader.org
Label=homepage.description="JDownloader"
Label=homepage.statusStyle=dot
Label=homepage.weight=1
Label=homepage.showStats=false

[Service]
Restart=always
EnvironmentFile=%h/apps/jdownloader-headless/jdownloader.env

[Install]
WantedBy=multi-user.target default.target
