[Unit]
Description=Media System
After=local-fs.target

[Container]
ContainerName=jellyfin
Image=lscr.io/linuxserver/jellyfin:latest

Environment=PUID=0
Environment=PGID=0
Environment=TZ=Europe/Prague

Volume=%h/apps/jellyfin/config:/config:Z
Volume=%h/apps/jellyfin/cache:/cache:Z
EnvironmentFile=%h/apps/jellyfin/jellyfin.env

Volume=/var/mnt/media/Filmy:/data/movies:z
Volume=/var/mnt/media/Serialy:/data/tv:z
Volume=/var/mnt/media/Vecernicky:/data/tales:z

Network=podman
IP=10.88.0.98

PublishPort=8096:8096
#UserNS=keep-id
#AddDevice=/dev/dri/:/dev/dri/

Label=homepage.group=Media
Label=homepage.name=Jellyfin
Label=homepage.icon=sh-jellyfin-light
Label=homepage.href=http://192.168.60.139:8096
Label=homepage.description="Find New Series or Movies"
Label=homepage.statusStyle=dot
#Label=homepage.widget.type=jellyfin
#Label=homepage.widget.url=http://192.168.60.139:8096
#Label=homepage.widget.key=${JELLYFIN_API_KEY}
Label=homepage.weight=1
Label=homepage.showStats=false

[Service]
Restart=always
EnvironmentFile=%h/apps/jellyfin/jellyfin.env

[Install]
WantedBy=default.target
