[Unit]
Description=Jellyseerr

[Container]
ContainerName=jellyseerr
Image=docker.io/fallenbagel/jellyseerr:latest
AutoUpdate=registry

EnvironmentFile=%h/apps/jellyseerr/jellyseerr.env
PublishPort=5056:5056

Network=podman
IP=10.88.0.94

Environment=TZ=Europe/Prague
Environment=LOG_LEVEL=debug
Environment=PORT=5056

Volume=%h/apps/jellyseerr/config:/app/config:z

#HealthCmd=["wget --no-verbose --tries=1 --spider http://192.168.60.139:5056/api/v1/status || exit 1"]
#HealthStartPeriod=20s
#HealthInterval=15s
#HealthTimeout=3s
#HealthRetries=3
#Notify=healthy

Label=homepage.group=Media
Label=homepage.name=Jellyseerr
Label=homepage.icon=jellyseerr.png
Label=homepage.href=http://192.168.60.139:5056
Label=homepage.description="Media Discovery"
Label=homepage.statusStyle=dot
Label=homepage.widget.type=overseerr
Label=homepage.widget.url=http://192.168.60.139:5056
Label=homepage.widget.key=${JELLYSEERR_API_KEY}
Label=homepage.showStats=false

[Service]
Restart=on-failure
EnvironmentFile=%h/apps/jellyseerr/jellyseerr.env

[Install]
WantedBy=default.target
