[Unit]
Description=Kopia
After=network-online.target

[Container]
ContainerName=kopia
Image=docker.io/kopia/kopia:latest
AutoUpdate=registry
HostName=Kopia

Exec=server start --disable-csrf-token-checks --insecure --address=0.0.0.0:51515 --server-username=vpelcak --server-password=kopiapass

PublishPort=51515:51515
Volume=%h/apps/kopia/config:/app/config:Z
Volume=%h/apps/kopia/cache:/app/cache:Z
Volume=%h/apps/kopia/logs:/app/logs:Z
Volume=%h/apps/kopia/data:/data:ro
Volume=%h/apps/kopia/repository:/repository:Z
Volume=%h/apps/kopia/shared:/tmp/shared:Z

Network=podman
IP=10.88.0.38

Timezone=Europe/Prague

Environment=KOPIA_PASSWORD=kopiapass
Environment=USER=vpelcak

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
