[Unit]
Description=Songs
After=local-fs.target

[Container]
ContainerName=lidarr
Image=lscr.io/linuxserver/lidarr:latest
EnvironmentFile=%h/apps/lidarr/lidarr.env

Environment=PUID=0
Environment=PGID=0
Environment=TZ=Europe/Prague

Volume=%h/apps/lidarr/config:/config:Z
Volume=/var/mnt/media/Music:/music:z
Volume=/var/mnt/media/Temporary/Downloads:/downloads:z

PublishPort=8686:8686 

Network=podman
IP=10.88.0.27
Label=homepage.group=Media
Label=homepage.name=Lidarr
Label=homepage.icon=sh-lidarr-light
Label=homepage.href=http://192.168.60.139:8686
Label=homepage.description="Songs Management"
Label=homepage.statusStyle=dot
Label=homepage.widget.type=lidarr
Label=homepage.widget.url=http://192.168.60.139:8686
Label=homepage.widget.key=${LIDARR_API_KEY}
Label=homepage.showStats=false

[Service]
Restart=always
EnvironmentFile=%h/apps/lidarr/lidarr.env

[Install]
WantedBy=default.target
