[Unit]
Description=Lingarr
After=network-online.target

[Container]
ContainerName=lingarr
Image=docker.io/lingarr/lingarr:latest
AutoUpdate=registry

PublishPort=9876:8080
Volume=%h/apps/lingarr:/app/config:Z
Volume=/var/mnt/media/Filmy:/movies:z
Volume=/var/mnt/media/Serialy:/tv:z

Network=podman
IP=10.88.0.28

Timezone=Europe/Prague

[Service]
Restart=always

[Install]
WantedBy=default.target
