[Unit]
Description=Materia: quadlet manager (server mode)

[Service]
Environment="SCRIPT_ARGS=%I"
Type=oneshot

[Container]
Image=ghcr.io/stryan/materia:stable
ContainerName=materia
Environment=MATERIA_SOURCE__URL=git://git@github.com/stryan/materia_example_repo
Environment=MATERIA_AGE__KEYFILE=/etc/materia/key.txt
#Environment=MATERIA_AGE__BASE_DIR=attributes
#Environment=MATERIA_SERVER__UPDATE_INTERVAL=900 # Update every 15 minutes
SecurityLabelDisable=true
HostName=%q
Exec=server
Network=host
Volume=/run/dbus/system_bus_socket:/run/dbus/system_bus_socket:ro
Volume=/run/user/1000/podman/podman.sock:/var/run/docker.sock:ro
Label=io.containers.autoupdate=registry
