[Unit]
Description=Mealie
After=network-online.target

[Container]
ContainerName=mealie
#Image=ghcr.io/mealie-recipes/mealie:v2.4.2
Image=ghcr.io/mealie-recipes/mealie:latest
AutoUpdate=registry

EnvironmentFile=%h/apps/mealie/.env

PublishPort=9925:9000
Volume=%h/apps/mealie:/app/data:Z

Network=podman
IP=10.88.0.21

Timezone=Europe/Prague

Environment=BASE_URL=${MEALIE_BASE_URL}

[Service]
Restart=always

[Install]
WantedBy=default.target
