[Unit]
Description=Mealie App
Requires=mealie-db.service

[Container]
Pod=mealie.pod
ContainerName=mealie-app
Image=ghcr.io/mealie-recipes/mealie:v3.6.1
AutoUpdate=registry

EnvironmentFile=%h/apps/mealie/mealie.env

Volume=%h/apps/mealie:/app/data:Z

Environment=TZ=Europe/Prague

Environment=BASE_URL=${MEALIE_BASE_URL}

Environment=PUID=0
Environment=PGID=0
Environment=ALLOW_SIGNUP="false"
Environment=DB_ENGINE=postgres
Environment=POSTGRES_USER=${MEALIE_PG_USER}
Environment=POSTGRES_PASSWORD=${MEALIE_PG_PASSWORD}
Environment=POSTGRES_SERVER=${MEALIE_PG_SERVER}
Environment=POSTGRES_PORT=${MEALIE_POSTGRES_PORT}
Environment=POSTGRES_DB=${MEALIE_DB}

Label=homepage.group=Services
Label=homepage.name=Mealie
Label=homepage.icon=sh-mealie-light
Label=homepage.href=http://192.168.60.139:9925
Label=homepage.description="Recipe Book"
Label=homepage.statusStyle=dot
Label=homepage.widget.type=mealie
Label=homepage.widget.url=http://192.168.60.139:9925
#Label=homepage.widget.key=${MEALIE_API_KEY}
Label=homepage.widget.key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb25nX3Rva2VuIjp0cnVlLCJpZCI6IjJmMzJkOTlmLWE1YTgtNGMzNS1hMzJmLTVlMDRhMGE3OWQ2ZSIsIm5hbWUiOiJob21lcGFnZSIsImludGVncmF0aW9uX2lkIjoiZ2VuZXJpYyIsImV4cCI6MTkxMjA2MjY5OX0.uWKturZCEMV5uaU1T-IN845WSdZvu5CJ3zaTh7f--zY
Label=homepage.widget.version=2
Label=homepage.showStats=false

[Service]
Restart=always
EnvironmentFile=%h/apps/mealie/mealie.env

[Install]
WantedBy=default.target
