[Unit]
Description=Miniflux Database
StartLimitBurst=5
StartLimitIntervalSec=90

[Container]
Pod=miniflux.pod
ContainerName=miniflux-db
Image=docker.io/postgres:18
#-alpine

AutoUpdate=registry

EnvironmentFile=%h/apps/miniflux/miniflux.env

Environment=POSTGRES_PASSWORD=${MINIFLUX_POSTGRES_PASSWORD}
Environment=POSTGRES_USER=${MINIFLUX_POSTGRES_USER}
Environment=POSTGRES_DB=${MINIFLUX_POSTGRES_DATABASE}

HealthCmd=pg_isready --dbname='${MINIFLUX_POSTGRES_DATABASE}' --username='${MINIFLUX_POSTGRES_USER}' || exit 1; Chksum="$$(psql --dbname='${MINIFLUX_POSTGRES_DATABASE}' --username='${MINIFLUX_POSTGRES_USER}' --tuples-only --no-align --command='SELECT COALESCE(SUM(checksum_failures), 0) FROM pg_stat_database')"; echo "checksum failure count is $$Chksum"; [ "$$Chksum" = '0' ] || exit 1

Volume=%h/apps/miniflux/db:/var/lib/postgresql:Z

#Timezone=Europe/Prague

[Service]
EnvironmentFile=%h/apps/miniflux/miniflux.env
Restart=always
RestartSec=2
