[Unit]
Description=Moodist

[Container]
ContainerName=moodist
Image=ghcr.io/remvze/moodist
AutoUpdate=registry

PublishPort=8889:8080

Network=podman
IP=10.88.0.52

Timezone=Europe/Prague

LogOpt=Size=100

Label=homepage.group=Media
Label=homepage.name=Moodist
Label=homepage.icon=moodist.png
Label=homepage.href=http://192.168.60.139:8889
Label=homepage.description="Ambient Sounds"
Label=homepage.statusStyle=dot
Label=homepage.weight=1
Label=homepage.showStats=false

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
