[Unit]
Description=Mydia App

[Container]
ContainerName=mydia-app
Image=ghcr.io/getmydia/mydia:latest
AutoUpdate=registry

Network=podman
IP=10.88.0.121

PublishPort=4000:4000

EnvironmentFile=%h/apps/mydia/mydia.env

Volume=%h/apps/mydia/config:/config:Z
Volume=/var/mnt/media/Filmy:/media/movies:Z
Volume=/var/mnt/media/Serialy:/media/tv:Z
Volume=/var/mnt/media/Vecernicky:/media/library/tv:Z
Volume=/var/mnt/media/Temporary/Downloads:/media/downloads:Z

Environment=TZ=Europe/Prague
Environment=PUID=0
Environment=PGID=0
Environment=PHX_HOST=192.168.60.139
Environment=PORT=4000
Environment=SECRET_KEY_BASE=${MYDIA_SECRET_KEY_BASE}
Environment=GUARDIAN_SECRET_KEY=${MYDIA_GUARDIAN_SECRET_KEY}
#Environment=MOVIES_PATH=/media/movies
#Environment=TV_PATH=/media/tv

HealthCmd=["curl -f http://localhost:4000/health"]
HealthStartPeriod=40s
HealthInterval=30s
HealthTimeout=3s
HealthRetries=3
Notify=healthy

Label=homepage.group=Media
Label=homepage.name=Mydia
Label=homepage.icon=sh-mydia-light
Label=homepage.href=http://192.168.60.139:4000
Label=homepage.description="Media Management"
Label=homepage.statusStyle=dot
Label=homepage.weight=1
Label=homepage.showStats=false

[Service]
Restart=always
EnvironmentFile=%h/apps/mydia/mydia.env

[Install]
WantedBy=default.target
