[Unit]
Description=Navidrome

[Container]
ContainerName=navidrome
Image=docker.io/deluan/navidrome:latest
AutoUpdate=registry

PublishPort=4533:4533
Volume=/var/mnt/media/Music/:/music:ro
Volume=%h/apps/navidrome/data:/data:z

Network=podman
IP=10.88.0.61

Timezone=Europe/Prague

Environment=PUID=0
Environment=PGID=0

Label=homepage.group="Media"
Label=homepage.name=Navidrome
Label=homepage.icon=navidrome.png
Label=homepage.href=http://192.168.60.139:4533
Label=homepage.description="Listen to Music"
Label=homepage.statusStyle=dot
Label=homepage.widget.type=navidrome
Label=homepage.widget.url=http://192.168.60.139:4533
Label=homepage.widget.user=vpelcak
Label=homepage.widget.token=00859da4b1f7bc543aca8221d90941f6
Label=homepage.widget.salt=assault
Label=homepage.showStats=false

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
