[Unit]
Description=Omnitools

[Container]
ContainerName=omni-tools
Image=docker.io/iib0011/omni-tools:latest
AutoUpdate=registry

PublishPort=3380:80

Network=podman
IP=10.88.0.62

Timezone=Europe/Prague

Label=homepage.group=Services
Label=homepage.name=Omnitools
Label=homepage.icon=sh-omnitools
Label=homepage.href=http://192.168.60.139:3380
Label=homepage.description="Tools for Many Tasks"
Label=homepage.statusStyle=dot
Label=homepage.weight=1
Label=homepage.showStats=false

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
