[Unit]
Description=Paperless Redis
After=network-online.target

[Container]
Pod=paperless.pod
ContainerName=paperless-broker
Image=docker.io/library/redis:7
AutoUpdate=registry

HealthCmd=["/usr/local/bin/redis-cli", "ping"]
HealthStartPeriod=30s
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5
Notify=healthy

Volume=%h/apps/paperless/redis/data:/data:Z

Timezone=Europe/Prague

[Service]
EnvironmentFile=%h/apps/paperless/.env
Restart=always
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
