[Unit]
Description=Paperless Webserver
Requires=paperless-broker.service paperless-db.service

[Container]
Pod=paperless.pod
ContainerName=paperless-webserver
Image=ghcr.io/paperless-ngx/paperless-ngx:latest
EnvironmentFile=%h/apps/paperless/paperless.env
AutoUpdate=registry

Volume=%h/apps/paperless/data:/usr/src/paperless/data:z
Volume=%h/apps/paperless/media:/usr/src/paperless/media:z
Volume=%h/apps/paperless/export:/usr/src/paperless/export:z
Volume=%h/apps/paperless/consume:/usr/src/paperless/consume:z

Timezone=Europe/Prague

Environment=PAPERLESS_REDIS=redis://${PAPERLESS_INTERNAL_HOST}
Environment=PAPERLESS_DBHOST=${PAPERLESS_INTERNAL_HOST}
Environment=PAPERLESS_TIKA_ENABLED=1
Environment=PAPERLESS_TIKA_GOTENBERG_ENDPOINT=http://${PAPERLESS_INTERNAL_HOST}:3000
Environment=PAPERLESS_TIKA_ENDPOINT=http://${PAPERLESS_INTERNAL_HOST}:9998

Label=homepage.group=Services
Label=homepage.name=Paperless
Label=homepage.icon=sh-paperless-ngx-light
Label=homepage.href=http://192.168.60.139:8040
Label=homepage.description="Document Management"
Label=homepage.statusStyle=dot
Label=homepage.widget.type=paperlessngx
Label=homepage.widget.url=http://192.168.60.139:8040
Label=homepage.widget.username=${PAPERLESS_ADMIN_USER}
Label=homepage.widget.password=${PAPERLESS_ADMIN_PASSWORD}
Label=homepage.showStats=false

[Service]
EnvironmentFile=%h/apps/paperless/paperless.env
ExecStartPre=sleep 15
Restart=always

[Install]
WantedBy=multi-user.target default.target
