[Unit]
Description=qb-proton

[Container]
Pod=qb.pod
ContainerName=qb-proton
Image=docker.io/qmcgaw/gluetun:latest

AutoUpdate=registry
EnvironmentFile=%h/apps/qbittorrent/qbittorrent.env

Environment=TZ=Europe/Prague

PodmanArgs=--privileged

AddCapability=NET_ADMIN
AddDevice=/dev/net/tun

Volume=%h/apps/qbittorrent/vpn:/gluetun:Z

#Environment=VPN_SERVICE_PROVIDER=${VPN_SERVICE_PROVIDER}
#Environment=VPN_TYPE=${VPN_TYPE}
#Environment=WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
#Environment=SERVER_COUNTRIES=${SERVER_COUNTRIES}

Label=homepage.group="Services"
Label=homepage.name=Gluetun
Label=homepage.icon=gluetun.png
Label=homepage.href=http://192.168.60.139:8899
Label=homepage.description="Gluetun"
Label=homepage.statusStyle=dot
Label=homepage.widget.type=gluetun
Label=homepage.widget.url=http://192.168.60.139:8899
Label=homepage.widget.key="EkjvWTvoQGsnU8TLrx2AN2"
Label=homepage.showStats=false

[Service]
Restart=always
EnvironmentFile=%h/apps/qbittorrent/qbittorrent.env

[Install]
WantedBy=multi-user.target default.target
