[Unit]
Description=qBittorrent
Requires=qb-proton.service

[Container]
Pod=qb.pod
ContainerName=qbittorrent
Image=docker.io/qbittorrentofficial/qbittorrent-nox:latest

AutoUpdate=registry
EnvironmentFile=%h/apps/qbittorrent/qbittorrent.env

Volume=%h/apps/qbittorrent/appdata:/config:Z
Volume=/var/mnt/media/Temporary/Downloads:/downloads:Z

Environment=PUID=0
Environment=PGID=0
Environment=TZ=Europe/Prague
Environment=QBT_WEBUI_PORT=8080

Label=homepage.group=Media
Label=homepage.name=qBittorrent
Label=homepage.icon=qbittorrent.png
Label=homepage.href=http://192.168.60.139:8088
Label=homepage.description="Torrent Client"
Label=homepage.statusStyle=dot
Label=homepage.widget.type=qbittorrent
Label=homepage.widget.url=http://192.168.60.139:8088
Label=homepage.widget.username=${QBITTORRENT_USERNAME}
Label=homepage.widget.password=${QBITTORRENT_PASSWORD}
Label=homepage.showStats=false

[Service]
Restart=always
EnvironmentFile=%h/apps/qbittorrent/qbittorrent.env

[Install]
WantedBy=multi-user.target default.target
