[Unit]
Description=Automate Movies
After=local-fs.target

[Container]
ContainerName=radarr
Image=lscr.io/linuxserver/radarr:latest
EnvironmentFile=%h/apps/radarr/radarr.env

Environment=PUID=0
Environment=PGID=0
Environment=TZ=Europe/Prague

Volume=%h/apps/radarr:/config:Z
Volume=/var/mnt/media/Filmy:/data/movies:z
Volume=/var/mnt/media/Temporary/Downloads:/downloads:z

Network=podman
IP=10.88.0.15

PublishPort=7878:7878

Label=homepage.group=Media
Label=homepage.name=Radarr
Label=homepage.icon=sh-radarr-light
Label=homepage.href=http://192.168.60.139:7878
Label=homepage.description="Automate Movies"
Label=homepage.statusStyle=dot
Label=homepage.widget.type=radarr
Label=homepage.widget.url=http://192.168.60.139:7878
Label=homepage.widget.key=${RADARR_API_KEY}
Label=homepage.showStats=false

[Service]
Restart=always
EnvironmentFile=%h/apps/radarr/radarr.env

[Install]
WantedBy=default.target
