[Unit]
Description=Readeck

[Container]
ContainerName=readeck
Image=codeberg.org/readeck/readeck:latest
AutoUpdate=registry

PublishPort=8003:8000
Volume=%h/apps/readeck:/readeck:Z

Environment=READECK_LOG_LEVEL=info
Environment=READECK_SERVER_HOST=0.0.0.0
Environment=READECK_SERVER_PORT=8000
Environment=READECK_SERVER_PREFIX=/
Environment=READECK_ALLOWED_HOSTS=readeck.web.pelcak.org
Environment=READECK_ALLOWED_HOSTS=192.168.60.139

Network=podman
IP=10.88.0.39

Timezone=Europe/Prague

HealthCmd=/bin/readeck healthcheck -config config.toml
HealthStartPeriod=30s
HealthInterval=10s
HealthTimeout=2s
HealthRetries=3
Notify=healthy

Label=homepage.group=Services
Label=homepage.name=Readeck
Label=homepage.icon=readeck.png
Label=homepage.href=http://192.168.60.139:8003
Label=homepage.description="Selfhosted Pocket"
Label=homepage.statusStyle=dot
Label=homepage.weight=1
Label=homepage.showStats=false

[Service]
Restart=always

[Install]
WantedBy=default.target
