[Unit]
Description=Scrutiny

[Container]
ContainerName=scrutiny
Image=ghcr.io/analogj/scrutiny:master-omnibus
AutoUpdate=registry

PublishPort=8082:8080
PublishPort=8086:8086

Volume=%h/apps/scrutiny/data:/opt/scrutiny/config:Z
Volume=%h/apps/scrutiny/influxdb:/opt/scrutiny/influxdb:Z
Volume=/run/udev:/run/udev:ro

AddDevice=/dev/nvme0
AddDevice=/dev/sda

Network=podman
IP=10.88.0.35

#Volume=/run/user/1000/podman/podman.sock:/var/run/docker.sock:ro
#SecurityLabelDisable=true

#Volume=/run/user/1000/podman/podman.sock:/run/user/1000/podman/podman.sock:ro
#Environment=DOCKER_HOST=/run/user/1000/podman/podman.sock

#Environment=DOCKER_HOST="unix:///run/user/1000/podman/podman.sock"

#Volume=/run/user/1000/podman/podman.sock:/run/user/1000/podman/podman.sock:ro

#Volume=/%t/podman/podman.sock:/var/run/docker.sock:ro
#SecurityLabelDisable=true

AddCapability=SYS_RAWIO
AddCapability=SYS_ADMIN

Timezone=Europe/Prague

#Label=homepage.group=System
#Label=homepage.name=Scrutiny
#Label=homepage.icon=scrutiny-light.png
#Label=homepage.href=http://192.168.60.139:8082
#Label=homepage.description=Disk Monitoring
#Label=homepage.statusStyle=dot
#Label=homepage.showStats=false

[Service]
Restart=on-failure

[Install]
3WantedBy=default.target
