[Unit]
Description=Automate TV shows
After=local-fs.target

[Container]
ContainerName=sonarr
Image=lscr.io/linuxserver/sonarr:latest
EnvironmentFile=%h/apps/sonarr/sonarr.env

Environment=PUID=0
Environment=PGID=0
Environment=TZ=Europe/Prague

Volume=%h/apps/sonarr:/config:Z
Volume=/var/mnt/media/Serialy:/data/Serialy:Z
Volume=/var/mnt/media/Vecernicky:/data/Vecernicky:Z
Volume=/var/mnt/media/Temporary/Downloads:/downloads:Z

Network=podman
IP=10.88.0.22

PublishPort=8989:8989

Label=homepage.group=Media
Label=homepage.name=Sonarr
Label=homepage.icon=sh-sonarr-light
Label=homepage.href=http://192.168.60.139:8989
Label=homepage.description="Automate TV Shows"
Label=homepage.statusStyle=dot
Label=homepage.widget.type=sonarr
Label=homepage.widget.url=http://192.168.60.139:8989
Label=homepage.widget.key=${SONARR_API_KEY}
Label=homepage.showStats=false

[Service]
Restart=always
EnvironmentFile=%h/apps/sonarr/sonarr.env

[Install]
WantedBy=default.target
