[Unit]
Description=Superproductivity
After=network-online.target

[Container]
ContainerName=sp
Image=docker.io/johannesjo/super-productivity:latest
AutoUpdate=registry

Timezone=Europe/Prague

Network=podman
IP=10.88.0.22
PublishPort=4880:80

[Service]
Restart=always

[Install]
WantedBy=default.target
