[Unit]
Description=Speedtest Tracker
#RequiresMountsFor=%t/containers

[Container]
ContainerName=speedtest
Image=lscr.io/linuxserver/speedtest-tracker:latest
AutoUpdate=registry

EnvironmentFile=%h/apps/speedtest/speedtest.env

PublishPort=8765:80
PublishPort=8443:443
Volume=%h/apps/speedtest/config:/config/:Z
Volume=%h/apps/speedtest/keys:/config/keys:Z

Network=podman
IP=10.88.0.5

Environment=PUID=1000
Environment=PGID=1000
Environment=APP_KEY=${SPEEDTEST_APP_KEY}
Environment=DB_CONNECTION=sqlite
Environment=SPEEDTEST_SCHEDULE="6 */2 * * *"
Environment=DISPLAY_TIMEZONE=Europe/Prague

HealthCmd=["curl -fSs APP_URL/api/healthcheck | jq -r .message || exit 1"]
HealthStartPeriod=30s
HealthInterval=10s
HealthTimeout=10s
HealthRetries=3
Notify=healthy

Label=homepage.group=System
Label=homepage.name="SpeedTest Tracker"
Label=homepage.icon=speedtest-tracker.png
Label=homepage.href=http://192.168.60.139:8765
Label=homepage.description="Track Speed of Internet Connection"
Label=homepage.statusStyle=dot
Label=homepage.widget.type=speedtest
Label=homepage.widget.url=http://192.168.60.139:8765
Label=homepage.widget.version=2
Label=homepage.widget.key=${SPEEDTEST_API_TOKEN}
Label=homepage.widget.bitratePrecision=0
Label=homepage.showStats=false

[Service]
Restart=always
EnvironmentFile=%h/apps/speedtest/speedtest.env

[Install]
WantedBy=multi-user.target default.target
