[Unit]
Description=Stirling PDF
After=network-online.target

[Container]
ContainerName=stirling-pdf
Image=docker.io/stirlingtools/stirling-pdf:latest
AutoUpdate=registry

HealthCmd=curl http://192.168.60.139:8080

Network=podman
IP=10.88.0.16
PublishPort=8085:8080

Volume=%h/apps/StirlingPDF/trainingData:/usr/share/tessdata:z
Volume=%h/apps/StirlingPDF/extraConfigs:/configs:z
Volume=%h/apps/StirlingPDF/customFiles:/customFiles:z
Volume=%h/apps/StirlingPDF/logs:/logs:z
Volume=%h/apps/StirlingPDF/pipeline:/pipeline:z

Environment=LANGS=cs_CZ

Timezone=Europe/Prague

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
