[Unit]
Description=Tailscale
After=network-online.target

[Container]
Pod=tailscale.pod
ContainerName=tailscale
Image=ghcr.io/tailscale/tailscale:latest
AutoUpdate=registry
EnvironmentFile=%h/apps/tailscale/.env

Volume=%h/apps/tailscale:/var/lib/tailscale:z

AddDevice=/dev/net/tun:/dev/net/tun
AddCapability=net_admin

Environment=TS_AUTHKEY=$(TS_AUTH_KEY)
Environment=TS_EXTRA_ARGS=--advertise-tags=tag:container
Environment=TS_STATE_DIR=/var/lib/tailscale

Timezone=Europe/Prague

[Service]
Restart=always

[Install]
WantedBy=default.target
