[Unit]
Description=Nginx Proxy Manager
After=network-online.target

[Container]
Pod=tailscale.pod
ContainerName=tailscale-nginx
Image=docker.io/jc21/nginx-proxy-manager:latest
AutoUpdate=registry

Volume=%h/apps/nginx-proxy-manager/data:/data:Z
Volume=%h/apps/nginx-proxy-manager/letsencrypt:/etc/letsencrypt:Z

Timezone=Europe/Prague

[Service]
Restart=always

[Install]
WantedBy=default.target
