[Unit]
Description=YTPTube

[Container]
ContainerName=ytptube
Image=ghcr.io/arabcoders/ytptube:latest
AutoUpdate=registry

PublishPort=8081:8081
Volume=/var/mnt/media/Temporary/Downloads/metube:/downloads:z
Volume=%h/apps/ytptube/config:/config:z

Network=podman
IP=10.88.0.44

Timezone=Europe/Prague

User=0:0

#Environment=PUID=0
#Environment=PGID=0

Label=homepage.group="Media"
Label=homepage.name=YTPTube
Label=homepage.icon=sh-metube.png
Label=homepage.href=http://192.168.60.139:8081
Label=homepage.description="YouTube Downloader"
Label=homepage.statusStyle=dot
Label=homepage.weight=1
Label=homepage.showStats=false

[Service]
#Restart=on-failure

[Install]
WantedBy=default.target
